.cardWrapper {
  padding: 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--txt);
  min-width: 25em;
}

.image {
  display: block;
  max-width: 38rem;
  min-height: 20rem;
}

.cardBody {
  flex: 1 1 auto;
  padding-bottom: 1.25rem;
  max-width: 575px;
  text-align: center;
}

.cardFooter {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  a:first-child {
    margin-right: 2rem;
  }
}

.title {
  margin-bottom: .75rem;
  font-size: 1.25rem;
  text-align: center;
}

.purple {
  color: var(--txt-secondary);
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.technologies > span {
  display: inline-block;
  background-color: #5393c3;
 
  padding: 0.5em 1em;
  margin: 0 4px 8px;
  border-radius: 20px;
  font-size: 80%;
  color: var(--tags-txt);
}
